@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Circular";
    src: url(../assets/fonts/circular.ttf);
  }

html {
    @apply scrollbar-hide antialiased font-sans	;
    scroll-behavior: smooth;
}

body {
    @apply bg-white text-gray-900 transition duration-500;
}

.navbar-transition {
    transition: background-color 500ms, box-shadoW 500ms, padding 500ms;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.link-underline {
    @apply font-medium;
    text-decoration: none;
    background-image: linear-gradient(0deg, #000 2px,transparent 0);
    color: #000;
    background-repeat: no-repeat,no-repeat;
    background-size: 0 100%,100% 100%;
    padding-bottom: 2px;
    -webkit-transition: background-size .42s cubic-bezier(.165,.84,.44,1);
    transition: background-size .42s cubic-bezier(.165,.84,.44,1);
}

.link-underline:hover {
    background-size:100% 100%,100% 100%
}

.link-underline svg {
    transition: transform 150ms ease-in-out;
}

.rotate-icon svg {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.rotate-icon {
    background-size:100% 100%,100% 100%
}

.button-link span{
    background: linear-gradient(currentColor 0 0) 0 100% /var(--d, 0) 2px no-repeat;
    transition: all .2s ease;
    text-decoration: none !important
}

.button-link:hover span{
    color: theme('colors.primary.600') !important;
    --d: 100%
}

.service-card{
    transition: box-shadow 300ms, transform 300ms, background-color 300ms;
}

.service-card-icon {
    transition: background-color 300ms;
}

.link-button{
    @apply rounded-sm py-2 px-4 hover:bg-gray-200 font-bold;
    transition: background-color 300ms;
}

.transition-background {
    transition: background-color 100ms ease;
}

button {
    transition: background 300ms ease, color 300ms ease;
}

.button-layout {
    @apply font-medium backdrop-blur-lg px-3 py-2;
}

.button-layout svg {
    transition: transform 150ms ease;
}

.button-cta {
    @apply font-medium backdrop-blur-lg px-6 py-3;
}

.button-cta svg {
    transition: transform 150ms ease;
}

@keyframes fadeInLeft {
    from { opacity: 0; transform: translate3d(-30px, 0, 0)rotateZ(30deg); }
    to { opacity: 1; transform: none; } }
  .fadeInLeft { animation-name: fadeInLeft; 
}

.showicon .icontoshow {
    visibility: hidden;
    opacity: 0;
}

.showicon:hover .icontoshow {
    visibility: visible;
    opacity: 100;
    transition: visibility 0s, opacity 200ms linear;
}

.icon-hover svg {
    transition: transform 200ms ease;
}

.icon-hover:hover svg {
    @apply translate-x-1;
}

.button-primary-outline {
    @apply border border-primary-500 bg-primary-500 text-white hover:bg-white hover:text-primary-500;
}

.button-secondary {
    @apply border border-transparent w-fit h-full flex hover:bg-gray-200 items-center gap-1 icon-hover;
}